<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
    <div style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <div style="background-color: #333; color: #fff; padding: 10px; text-align: center;">
            <img src="https://ailogo.world/assets/Logo-kt-DsfNgbTX.png" alt="Logo" style="max-width: 150px; height: auto;">
        </div>
        <div style="padding: 20px; text-align: center;">
            <h1 style="font-size: 24px; color: #333;">NEW PASSWORD</h1>
            <p style="font-size: 16px; color: #666;">안녕하세요!</p>
            <p style="font-size: 16px; color: #666;">새로운 비밀번호 입니다.</p>
            <div style="font-size: 20px; color: #333; background-color: #f1f1f1; padding: 10px; border: 1px solid #ddd; display: inline-block; margin-top: 20px;">{new_password}</div> 
        </div>
        <div style="margin-top: 20px; text-align: center; font-size: 12px; color: #aaa;">
            &copy; 2024 Retriever. All rights reserved.
        </div>
    </div>
</body>
</html>